
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-color:#000000;
  --color: #fbfbfb;
  --background-color:rgba(30, 40, 52, 0.91);
  --searchbox-color:#8d8b8b;
  --background-glassColor:rgba(255, 255, 255,.1);
  --menu-backgroundColor:#272626;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --shadow-color:#272626;
  --girdnumber-color:#272626;
  --monitor-color:rgba(69, 91, 120, 0.945);
  --seen-color:#ffff00;
  --mail-background:rgba(255, 255, 255 , .1) 
  --sidebar-backgroundColor:rgba(255, 255, 255,.2);
}

[data-theme='dark']{
  --text-color:#ffffff;
    --color: #000000;
    --background-color: #272626;
    --searchbox-color:#2b2b2b;
    --background-glassColor:rgba(5, 4, 4, 0.573);
    --menu-backgroundColor:#ffffff;
    --shadow-color:rgb(132, 126, 126);
    --gridnumber-color:#272626;
    --sidebar-backgroundColor:rgba(5, 4, 4, 0.573);
    --monitor-color:rgba(2,1,1,0.7);
    --seen-color:rgba(255, 253, 253, 0.7);
    --mail-background:rgba(39, 38, 38,.8)
}

#root {
  min-height: 100vh;
  position: relative;
  background-color: var(--background-color);
  color: var(--color);
 
  
}

.ibm-plex-sans-condensed-thin {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ibm-plex-sans-condensed-medium-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ibm-plex-sans-condensed-bold-italic {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.nav{
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;

}
#menu{
  width: 40px;
  height: 30px;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  transition: transform .2s ease-in-out;
}

.first-bar , .second-bar{
  width: 13px;
  height: 2px;
  margin: 3px 0;
  background-color: #ffffff;
  transform: translateX(10px);
 
}
.second-bar{
  width: 19px;
  
}
#menu:hover{
  transform: scale(1.5);
}
#logo{
  color:#ffffff;
}
#logo span{
  font-size: 30px;
  position: relative;
}
#logo span::before{
  content: '';
  width: 60px;
  height: 2.3px;
  background-color: #ffffff;
  position: absolute;
  top: 9.2px;
  left: -60px;
}
#logo-small{
  color:#ffffff;
}
#logo-small span{
  font-size: 30px;
  position: relative;
}
#logo-small span::before{
  content: '';
  width: 60px;
  height: 1.5px;
  background-color: #ffffff;
  position: absolute;
  top: 9px;
  transform: translate(2px,0px);
  left: -60px;
}
.searchbox{
  background-color:var(--searchbox-color);
  height: 30px;
  border-radius: 20px;
}
#textbox{
  background-color:transparent ;
  outline: none;
  height: 30px;
}
#textbox::placeholder{
  color: #ffffff;
}
.sidebar{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10000;
}
.fc-timeGridDay-view{
  color:white
}
.fc-timeGridWeek-view{
  color:#ffffff
}
.fc-dayGridMonth-view{
  color: #ffffff;
}
.fc-multiMonthYear-view{
  background-color: var(--monitor-color);
  color:black
}
.fc-list-day{
  color:black
}
.fc-event{
  color:#ffffff
}
.fc-toolbar-title{
  color:#ffffff
}
.leftside{
  background-color: var(--sidebar-backgroundColor);
  backdrop-filter: blur(20px);
  color: #ffffff;
}
.noti-nu{
  background-color: #000000;
  width: 16px;
  font-size: 10px;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid var(--menu-backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip{
  display: none;
  position: absolute;
  background-color: var(--menu-backgroundColor);
  color:var(--color);
  top:35px;
  left: -15px;
  padding: 3px 6px;
  border-radius: 5px;
}
.tooltip2{
  display: none;
  position: absolute;
  background-color: var(--menu-backgroundColor);
  color:var(--color);
  top:35px;
  left: -5px;
  padding: 3px 6px;
  border-radius: 5px;
}
.tooltip3{
  display: none;
  position: absolute;
  background-color: var(--menu-backgroundColor);
  color:var(--color);
  top:35px;
  left: 3px;
  padding: 3px 6px;
  border-radius: 5px;
}
.tooltip4{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--menu-backgroundColor);
  color:var(--color);
  top:35px;
  right: -50px;
  border-radius: 5px;
  width: 230px;
  padding:10px 20px;
}
.icon:hover .tooltip{
  display: block;
}
.icon2:hover .tooltip2{
  display: block;
}
.icon3:hover .tooltip3{
  display:block
}
.icon4:hover .tooltip4{
  display: block;
}
.tooltip4:hover{
  display: block;
}
.linkbox:hover .link{
  transform: translateX(20px);
}
.triangle{
  position: relative;
}
.triangle::before{
  content:'';
  position:absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  top:22px;
  left: -10px;
}
.name-card{
  white-space: nowrap;
  
}

#radio{
  accent-color: rgb(24, 24, 24);
  background-color: var(--background-color);
  border: 2px solid var(--menu-backgroundColor);
}
.monitor-card{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding:10px;
  border-radius: 10px;
}
.monitor-card::--webkit-scrollbar{
  display: none;
}
.card{
  backdrop-filter: blur(30px);
  background-color: var(--monitor-color);
  color:white;
  transition: transform .2s ease-in-out;
}
.card:hover{
  transform: scale(0.9);
}
.list{
  background-color: var(--monitor-color);
  border: 4px solid var(--monitor-color);
  border-radius: 10px;
 
}
.list:hover{
  transform: scale(0.8);
}
.addtodo{
  background-color: var(--menu-backgroundColor);
  color: var(--color);
  border-bottom: 1px solid var(--background-color) ;
  padding: 10px;
}
.schedule-tooltip{
  position: absolute;
  bottom: -40px;
  background-color: var(--color);
  color: var(--text-color);
  padding: 3px 6px;
  border-radius: 5px;
  display: none;
}
.list:hover{
  transition: transform .2s ease-in-out;
}
.list:hover .schedule-tooltip{
  display: block;
}
.data{
    overflow-x: auto;
    color: #ffffff;
}
.line-chart{
 min-width: 500px;
 padding: 20px;
  height: 600px ;
  background-color: var(--monitor-color);
}
.geo-chart{
  min-width: 500px;
  padding: 20px;
   height: 600px ;
}
.link-tooltip{
  display: none;
  background-color: var(--color);
  color: var(--text-color);
  padding: 3px 6px;
  border-radius: 5px;
}
.data-link{
  transition: transform .2s ease-in-out;
  background-color: var(--background-glassColor);
  backdrop-filter: blur(20px);
  transform: scale(.9);
}
.data-link:hover{
  transform: scale(0.8);
}
.data-link:hover .link-tooltip{
  display:block ;
}
.MuiDataGrid-columnHeaders{
  background-color: var(--monitor-color);
  
}
.MuiDataGrid-root{
  border:'none';
  background-color: var(--girdnumber-color);
  backdrop-filter: blur(20px);
}
.MuiDataGrid-cell{
  border-bottom: 'none';
  color:#ffffff
}
.MuiToolbar-root{
  color: #ffffff;
}
.MuiSvgIcon-root{
  color: #ffffff;
}
.message{
  min-width: 800px;
  background-color: rgba(255, 255, 255,.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  color:white;
  padding: 20px 0;
  margin-top: 30px;
}
.show-message{
  width: 900px;
  background-color: rgba(255, 255, 255,.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  color:white;
  padding: 20px 0;
  margin-top: 30px;
 
}
.seen{
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--seen-color);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new{
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--seen-color); 
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mailbox{
  transition: transform .2s ease-in-out;
  background-color: var(--mail-background);
  backdrop-filter: blur(20px);
  padding: 1rem 1rem;
  background-color: var(--monitor-color);
}
.mailbox:hover{
 transform: scale(.9);

}
.mailbox:hover .message-tooltip{
  opacity: 1;
}
.mail-new{
  text-decoration: underline var(--seen-color);
}
.mail{
  background-color: rgba(255, 255, 255,.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  color:white;
  padding:0 10px;
}
.news{
  padding: 25px;
  background-color: var(--monitor-color);
  margin-bottom: 10px;

  border-radius: 10px;
  backdrop-filter: blur(20px);
}
.update{
  color: #ffffff;
  background-color: rgba(255, 255, 255,.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  margin-top: 30px;
}
.news{
  transition: transform .2s ease-in-out;
}
.news:hover{
  transform: scale(.9);
}
.help{
  color: #ffffff;
 
  border-radius: 20px;
  margin-top: 30px;
}
.question{
  padding: 25px;
  background-color: var(--monitor-color);
  margin-bottom: 10px;

  border-radius: 10px;
  backdrop-filter: blur(20px);
}
.toggle{
  background-color: rgba(255, 255, 255,.1);
  backdrop-filter: blur(20px);
  
}
.button{
   background-color: var(--monitor-color);
   color: #ffffff;
   
   border-radius: 20px;
   display: flex;
   gap: 8px;
   align-items: center;
}
.button-new{
  background-color: var(--monitor-color);
  color: #ffffff;
  width: 100px;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.message-box{
  max-width: 900px;
  max-height: 460px;
  
}
.send-message , .reply-message{
  background-color: var(--monitor-color);
  color:#ffffff;
  
}
.send-button{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background-color: var(--monitor-color);
  padding: 20px 20px;
  border-radius: 10px;
}
#send-box{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color:#ffffff;
  background-color: var(--monitor-color);
  border: 2px solid white;
}


.search-box{
  
  height: 50px;
  border-radius: 20px;
  width: 100%;
}
.active{
transform: scale(1.3);
}
.message-tooltip{
  background-color: #ffffff;
  color:#000000;
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (width<870px){
  .fc-header-toolbar{
    display: flex;
    flex-direction: column;
  }
  .fc-toolbar-chunk{
    display: flex;
   flex-direction: column;
   gap: 4px;
   margin-top: 5px;
  }
 .fc-button-group button{
  width: 100%;
  background-color: var(--color);
 }
}

